:root {
    --primary-color: #FA541C;
    --secondary-color: #212B36;
    --gray-color: #637381;   
    --light-gray-color: #919EAB;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 1152px;
}

.btn{
   display: inline-block;
    padding: 11px 22px; 
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    font-family: 'Barlow' , sans-serif;
    line-height: 26px;
    border: none;
}
.btn.btn-secondary{
    padding: 6px 16px;
    background: var(--secondary-color);
    color: #fff;
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border: unset;
}
.btn.btn-primary{ 
    background: var(--primary-color);
}
.btn.btn-transparent{
    border: 1px solid rgba(145, 158, 171, 0.32);
    color: var(--secondary-color);
}

.btn.start-icon::after{
    content: url('./images/iconbase.svg');
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-40%);
    
}
.btn.start-icon{
   padding-right: 40px;

}

/* Header */
header{
    /* height: 100vh; */
    width: 100%;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    z-index: 100;
}
nav ul:first-child {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    margin: 0;
}
nav ul:last-child {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
}
.pages-drop-down{
    color: var(--secondary-color) !important;
    display: flex;
    align-items: center;  
}
.orange-bullet{
    width: 6px;
    height: 6px;
    background: #fa541c;
    display: inline-block;
    align-items: center;
    margin-right: 8px;
    border-radius: 50%;
}
.first-nav li a{
    text-decoration: none;
    color: var(--gray-color);
    font-weight: 500;
    font-size: 14px;

}
.last-nav li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
   
}

.login-link{
    padding: 0 20px 0 20px;
    border-left: 1px solid rgba(145, 158, 171, 0.24);
    
}
.global-icon{
    padding: 0 30px 0 40px;
    display: flex;
}
.search-icon{
    display: flex;
}

/* Hero Section */
.hero-section{
    display: flex;
    /* height: 100vh; */
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}
.hero-section .left h1{
    font-family: 'Barlow',sans-serif ;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.light-text{
    color: var(--gray-color);
}
.orange-text{
    color: var(--primary-color);
}
.hero-section .left p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 40px;
    color: var(--gray-color);
}
.hero-section .left {
    width: 100%;
   
}
.hero-section .right{
   
}
.hero-section .right img{
    height: 660px;
    
}
.play-icon{
    padding: 12px;
    background: #22B8CF;
    margin: 0 16px 0 0px;
    border-radius: 50%;
    display: inline-block;
    
}
.video-link{
    padding: 0px;
    margin-left: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'Barlow',sans-serif ;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.hero-item-link{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 64px;
}
header hr{
    border: 1px dashed rgba(145, 158, 171, 0.24);
    margin-bottom: 48px;
}
.counters{
    display: flex;
    align-items: center;
    gap: 84px;
}
.counters h3{
    font-family: 'Barlow' , sans-serif;
font-weight: bold;
font-size: 36px;
line-height: 54px;
}
.counters span{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 4px;
    color: var(--gray-color);
}
.counter{
    position: relative;
   
}
.counter::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 8px;
    left: -8px;
}
.learners-count::before{
    background-color: rgba(255, 193, 7, 0.24);
}
.courses-count::before{
    background-color: rgba(255, 72, 66, 0.24);;
}
.graduates-count::before{
    background-color: rgba(12, 214, 110, 0.24);;
}

/* Our Client Section */ 
.our-clients-section{
    text-align: center;
    padding-top: 80px;
}
section h2{
    font-family: 'Barlow' , sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: var(--secondary-color);
}
section p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--gray-color);
    padding-top: 24px;
    padding-bottom: 70px;
}
.logo-brands-wrapper{
    display: grid;
    text-align: center;
    align-items: center;
    justify-items: center;
    /* gap: 81px; */
    padding-bottom: 84px;
    grid-template-columns: repeat(6, 1fr);
}
/* Why Us Section */
.orange-small-title{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-top: 120px;
    display: block;
}
.why-us-section{
    display: flex;
    align-items: center;
    gap: 122px;
    padding-top: 80px;
    padding-bottom: 120px;
}
.why-us-section .left img{
    height: 620px;
    border-radius: 16px;
}
section h3{
    font-family: 'Barlow' , sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}
.paragraphs{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 80px;
}
.orange-line{
    position: relative;
    
}
.orange-line::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;    
}

/* featured courses */
.featured-section{
    padding-top: 80px;
    padding-bottom: 120px;
}
.featured-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 33px ;
    
}
.d-lg-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-card{
    
    background: #FFFFFF;
    box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.26);
    border-radius: 16px;
}
.featured-card .card-image{
    background-size: cover;
    height: 350px;
    border-radius: 16px 16px 0 0;
}
.featured-card .card-content{
    padding: 24px;
}
.featured-card .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-card .course-title{
    font-family: "Barlow" ,sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
}


.featured-card .course-info{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.star-rate{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 12px;
    border-right: 1px solid rgba(145, 158, 171, 0.24);
    margin-right: 12px;
    color: var(--secondary-color);
}
.rate-num{
    font-family: "Barlow" , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--secondary-color);
}
.member-rate{
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--gray-color);
}
.student-num{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--secondary-color);
}
.course-teacher{
    display: flex;
    align-items: center;
    gap:8px;
    padding-bottom: 24px;
}
.small-text{
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.featured-card .course-category{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;

}
.featured-card .final-course-price{
    font-family: "Barlow" , sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: var(--secondary-color);
}
.first-course-price{
    font-family: "Barlow" , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    text-decoration-line: line-through;
    color: var(--light-gray-color);
    
}
.featured-card hr{
    border: 1px dashed rgba(145, 158, 171, 0.24);
}
.featured-card .card-footer{
    display: flex;
    align-items: center;
    padding-top: 24px;
}
.course-time{
    display: flex;
    align-items: center;
    color: var(--light-gray-color);
    gap: 10px;
    padding-right: 22px;
}
.course-level {
    display: flex;
    align-items: center;
    color: var(--light-gray-color);
    gap: 10px;
}
/* Featured category section */
.bg-gray{
    background:#F9FAFB;
}
.featured-category{
    display: flex;
    align-items: center;
    gap: 122px;
    flex-direction: row;
    padding: 120px 0;
}
.featured-category .right{
    display: grid;
    row-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}
.featured-category .category{
    border: 1px solid rgba(145, 158, 171, 0.24);
    border-radius: 12px;
    width: 204.67px;
    height: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    text-decoration: none;
    
}
.featured-category .category:hover{
    background: #FFFFFF;
    border: 1px solid rgba(145, 158, 171, 0.14);
    box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.34);
    border-radius: 12px;
}
.featured-category .category:hover h6{
    color: var(--primary-color);
}

.featured-category .category h6 {
    font-family: 'Barlow' , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--secondary-color);
    margin-bottom: 8px;
}
.featured-category .category span{
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-color);
}
/* Team section */
.team-section{
    text-align: center;
    padding: 120px 0;
}
.team-section p{
    width: 564px;
    margin: 0 auto;

}
.team-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-bottom: 80px;
}
.team-card{ 
    width: 272px;
    height: 362px;
    border: 1px solid rgba(145, 158, 171, 0.08);
    box-shadow: -16px 16px 56px -8px rgba(145, 158, 171, 0.16);
    border-radius: 16px;   
    text-align: center;
    margin: 0 auto;
}
.team-img img{
    border-radius: 0 0 16px 16px;
    width: 270px;
    height: 270px;
}
.team-img{
    position: relative;
}
.team-img::before{
    content: url(images/SHAPE.png);
    position: absolute;
    width: 270px;
    height: 0px;
    background-color: #fff;
    left: 0px;
    top: -10px;
}
.team-name{
    padding-top: 24px;
    padding-bottom: 12px;
}
.team-card h6{
    font-family: "Barlow" , sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 4px;
    color: var(--secondary-color);
}
.team-card span{
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--light-gray-color);
}
/* testimo section */
.testimo-section{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.testimo-section h2{
    margin-bottom: 90px;
}
.testimo-section .quote-icon{
    opacity: 0.48;
}
.testimo-section .author img{
    Width :96px;
    Height :96px;
}
.mySlidesContainer q {
    width: 564px;
    min-height: 130px;
    display: inline-block;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
    font-family: "Barlow", sans-serif;
color: var(--secondary-color);
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.author h6 {
    font-family: "Barlow" , sans-serif;
font-weight: 600;
font-size: 18px;
line-height: 28px;
margin-bottom: 4px;
}
.author .author-text {
    color: var(--gray-color) !important;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.slideshow-container{
    display: flex;
    align-items: center;
   position: relative;
}
.slideshow-container .next{
    position: absolute;
    right: 0;
}
.slideshow-container .prev{
    position: absolute;
    left: 0;
}
.mySlides{
    margin:  0 auto;
}
/* newsletter section */

.newsletter-section{
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    gap: 122px;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 98px;
background: rgba(250, 84, 28, 0.08);
border-radius: 24px;

}
.newsletter-section .left {
    text-align: center;
    width: 466px;
}
.newsletter-section form{
    position: relative;
}
 .newsletter-section form input{
    width: 100%;
height: 56px;
background: #FFFFFF;
border-radius: 8px;
padding: 14px 12px;
font-weight: normal;
font-size: 14px;
line-height: 26px;
color: var(--light-gray-color);
border: none;

}
.newsletter-section form .submit-btn{
    position: absolute;
    right: 4px;
    top:50%;
    transform: translateY(-50%);
    
}
.dot img{
    transform: scale(.5);
    transition: .3s;
    opacity: 50%;
}
.active img{
    transform: scale(1);
    opacity: 100%;
}


/* Footer */
footer .footer-section{
    padding-top: 80px;
   
}
footer .footer-cols{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    column-gap: 125px;
    justify-content: space-between;
}
.footer-section .footer-logo{
    margin-bottom: 25px;
    display: block;
}
footer .footer-col p{
    width: 270px;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-color);
    padding-bottom: 34px;
}
footer .social-link a {
    margin-right: 21px;
    display: unset !important;
    text-decoration: none;
}
footer ul li a {
    margin-right: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: var(--secondary-color);
}
footer ul li a img{
    margin-right: 10px;
}
footer li{
    list-style: none;
}
footer form input{
    font-family: "Poppins" , sans-serif;
    font-weight: normal;
font-size: 14px;
line-height: 26px;
color: var(--light-gray-color) !important;
border-radius: 8px;
background: rgba(145, 158, 171, 0.08);
width: 310px;
height: 48px;
border: none !important;
padding: 10px 12px;
}
footer .copy-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:90px ;
    margin-bottom: 32px;
    font-weight: normal;
font-size: 13px;
line-height: 24px;
color: var(--gray-color);
}
footer .copy-right a{
    font-weight: normal;
font-size: 13px;
line-height: 24px;
text-decoration: none;
margin-left: 24px;
color: var(--gray-color);
}

nav.mobile-nav, .mobile-menu-container{
    display: none;
}
hr{
    border: 1px solid rgba(145, 158, 171, 0.24);
}

@media (max-width: 1200px){
    .newsletter-section{
        padding: 30px;
        gap: 50px;
    }
    footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }
    footer .footer-cols .footer-col{
        margin-bottom: 30px;
    }
    .why-us-section .left img {
        height: 436px;
        border-radius: 16px;
    }
    .wrapper{
        padding: 30px;
    }
    .featured-cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px ;
    }
    .hero-section .right img {
        height: 405px;
    }
    .featured-category{
        gap:50px
    }
    .why-us-section{
        gap: 50px;
    }
    .featured-category .right {
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .team-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
        column-gap: 24px;
    }
}
@media (max-width: 800px){
    .newsletter-section .right{
        margin: 0 auto;
        text-align: center;
    }
    .newsletter-section .right img{
        height: 200px;
        margin: 0 auto;
    }
    .mobile-menu-container .close-icon{
        position: fixed;
        top: 30px;
        right: 30px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .mobile-menu-container.open .close-icon{
        opacity: 1;
        pointer-events: auto;
    }
    
    .mobile-menu-container{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 0.3s ease;
    }
    .mobile-menu-container.open{
        left: 0;
    }

    .mobile-menu-container ul{
        list-style: none;
    }
    .mobile-menu-container ul li{
        margin: 20px 0;
    }
    .mobile-menu-container ul li a{
        
        font-size: 18px;
        text-decoration: none;
    }
    nav{
        display: none;

    }
    nav.mobile-nav{
        display: flex;
        padding: 10px 0;
    }
    .newsletter-section .left{
        width: 100%;
    }
    footer .footer-cols{
        grid-template-columns: repeat(1,1fr);
    }
    footer .footer-cols .footer-col{
        margin-bottom: 50px;
    }
    footer .copy-right{
        display: block;
    }
    .newsletter-section{
        display: block;
        padding: 10px;
    }
    .hero-section .right {
        text-align: center;
        margin: 0 auto;
    }
    .wrapper{
        padding: 30px;
    }
    .counters {
        gap: 55px;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .logo-brands-wrapper {
        
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
    .featured-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px ;
    }
    .featured-category .right{
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-category{
        flex-direction: column;
    }
    .featured-category .category{
        width: 200px;
    }
    .why-us-section{
        flex-direction: column-reverse;
    }
    .why-us-section .left img{
        height: 100vh;
    }
    .team-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 14px;
        column-gap: 14px;
    }
    .mySlidesContainer q {
        width: 250px;
    }
    

}
@media (max-width: 540px) {
    .newsletter-section .right{
        margin: 0 auto;
        text-align: center;
        
    }
    .newsletter-section .right img{
        height: 200px;
        margin: 0 auto;
    }
    
    .team-section p{
        width: unset;
        margin: 0 auto;
    }
    .counters {       
        gap: 55px;
    }
    .hero-section .right img {
        height: 280px;
    }
    .wrapper{
        padding: 20px;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .logo-brands-wrapper {
       
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
    }
    .why-us-section{
        flex-direction: column-reverse;
    }
    .d-lg-flex{
        display: unset;
    }
    .featured-cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 33px ;
    }
    .carousel-nav{
        text-align: right;
        display: block;
    }
    .featured-category .right{
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-category{
        flex-direction: column;
    }
    .featured-category .category{
        width: 180px;
        padding: 10px;
    }
    .why-us-section .left img{
        display: none;
    }
    .team-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 14px;
        column-gap: 14px;
    }
   
}